#!/bin/bash

## Secrets to env

SECRET_OPER_PASS="123456789"
SECRET_SERV_PASS="11111111111111111111111111111"
SECRET_CLOAK_KEY_1="aaaaaaaaaaaaaaaaaaaaaaaaaaa"
SECRET_CLOAK_KEY_2="bbbbbbbbbbbbbbbbbbbbbbbbbbb"
SECRET_CLOAK_KEY_3="ccccccccccccccccccccccccccc"

sed -i "s/%SECRET_OPER_PASS%/${SECRET_OPER_PASS}/" /home/unreal/unreal.conf

sed -i "s/%SECRET_SERV_PASS%/${SECRET_SERV_PASS}/" /home/unreal/unreal.conf
sed -i "s/%SECRET_SERV_PASS%/${SECRET_SERV_PASS}/" /home/unreal/services.conf

sed -i "s/%SECRET_CLOAK_KEY_1%/${SECRET_CLOAK_KEY_1}/" /home/unreal/unreal.conf
sed -i "s/%SECRET_CLOAK_KEY_2%/${SECRET_CLOAK_KEY_2}/" /home/unreal/unreal.conf
sed -i "s/%SECRET_CLOAK_KEY_3%/${SECRET_CLOAK_KEY_3}/" /home/unreal/unreal.conf
